@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

main {
  width: 50%;
  margin: 30px auto;
}

body {
  background-color: #17181F;
  color: #ddd
}

h1 {
  text-align: center;
  color: #fff;
  margin: 0;
  font-size: 5rem;
}

h1 span{
  font-size: 2.5rem;
  vertical-align: bottom;
  display: inline-block;
}

form {
  margin-top: 20px;
}

form input {
  width: 100%;
  background-color: transparent;
  color: #ddd !important; 
  border: 2.5px solid #30313d;
  padding: 2px 5px;
  border-radius: 5px;
  margin-top: 5px;
  font-size: 1.5rem;
}

form div.basic {
  display: flex;
  gap:10px;
  margin-bottom: 5px;
}

form button {
  width: 50%;
  margin: 10px auto 0;
  border: 0;
  border-radius: 5px;
  padding: 5px;
  background-color: #ddd;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #e14478;
  font-size: 1.5rem;
}

div.transactions {
  margin-top: 30px;
}

div.transaction{
  display: flex;
  padding: 5px 0;
  justify-content: space-between;
}

div.transaction:first-child{
  border-top: 0;
}

div.transaction div.name {
  font-size: 1.5rem;
  color: #ddd;
}

div.transaction div.description{
  font-size: 1rem;
  color: #888;
}

div.transaction div.price{
  font-size: 1.5rem;
}

div.transaction div.datetime{
  font-size: 1rem !important;
  color: #888;
}

div.right {
  text-align: right;
}

div.price.green{
color: #1c1
}

div.price.red{
  color: #c11;
}

div.transaction div.datetime{
  font-size: 0.75rem;
  columns: #888;
}

input {
  color-scheme: dark;
}

.button-class{
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.error {
  color: #f44336;
  background-color: white; 
  padding: 5px; 
  margin-top: 30px;
  border-radius: 5px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  font-size: 1.5rem;
  text-align: center;
  font-weight: 600;
}

.col-header {
  background-color: transparent !important; 
  font-size: 2rem; 
  color: #ddd;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.MuiDataGrid-root {
  border-bottom: none !important;
  --DataGrid-containerBackground: #e14478 !important;
}

.MuiTablePagination-root, .MuiDataGrid-footerContainer {
  color: #ddd !important;
  font-size: 1rem !important;
}

.css-i4bv87-MuiSvgIcon-root, .css-pqjvzy-MuiSvgIcon-root-MuiSelect-icon {
  fill: #ddd !important;
}

.MuiDialogContent-root input {
  color: black !important;
}


/* Mobile Styles */
@media (max-width: 768px) and (orientation: portrait){
  main {
    width: 80%;
    margin: 30px auto;
  }

  h1 {
    font-size: 2.5rem;
  }

  h1 span {
    font-size: 2rem;
  }

  form input {
    font-size: 1rem;
  }

  form div.basic {
    flex-direction: column;
  }

  form button {
    width: 100%;
    font-size: 1rem;
    margin: 0 auto;
  }

  div.transaction div.name,
  div.transaction div.price {
    font-size: 1.25rem;
  }

  div.transaction div.description,
  div.transaction div.datetime {
    font-size: 1rem;
  }
}


@media (max-width: 768px) and (orientation: landscape) {
  main {
    width: 90%;
    margin: 10px auto;
  }

  h1 {
    font-size: 2rem;
  }

  h1 span {
    font-size: 1rem;
  }

  form input {
    font-size: 0.75rem;
  }

  form div.basic {
    flex-direction: row;
  }

  form button {
    width: 60%;
    font-size: 0.75rem;
  }

  div.transaction div.name,
  div.transaction div.price {
    font-size: 0.75rem;
  }

  div.transaction div.description,
  div.transaction div.datetime {
    font-size: 0.6rem;
  }
}